<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type='image/png' href="../static/img/18-selo-espelho-branco.png">
    <title>DATA BRA</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/foto_perfil_lucas_pro.png" alt="Foto do Lucas">
            <h1>Lucas Eduardo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/lucas-eduardo-zonfrilli-8485595b/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://wa.me/message/YI2DZ6NGIOVXF1">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a target="_blank" href="https://github.com/LucasZonfrilli/">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text"></i>Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i>Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i>Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">

            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Eduardo</h2>
                <span id="subtitle" class="text-white text-shadow">Economista, Gestor de Tecnologia da Informação</span>

            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-tems-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-ridden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5" >
            <div class="row w100">
                <div class="col-md-12">
                    <h2 class="'pt-3">Sobre</h2>
                    <p>Comecei a empreender por paixão, e hoje vejo que isso é mera ignorância. Empreender é com propósito, pois é criar, juntar as peças, as pessoas afim de um objetivo comum.
                        Hoje meu propósito é transformar as informações em dados úteis na hora da tomada de decisão. Atuo criando "Dashboards", que nada mais é que um Painel de Acompanhamento.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/foto_perfil_lucas_pro.png" alt="Foto do Lucas">
                </div>

                <div class="col-md-8">
                    <h3>Cientista de Dados</h3>
                    <p>Atualmente levar clareza para a tomada de decisão empresarial, dando solidez baseando em análises
                        complexas com visuais simples e funcionais.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter"> 18 de Outubro de 1992 </span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 29 anos </span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Cândido Mota </span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter"> São Paulo </span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Cavalgar </span>
                                </li>
                                <li class="list-group-item">
                                    Site: <a href="https://www.linkedin.com/in/lucas-eduardo-zonfrilli-8485595b/"
                                        target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">links.lucaseduardo</a>
                                </li>
                                <li class="list-group-item">
                                    Servir: <span class="fw-lighter"> dataBR </span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter"> +10 anos </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>O propósito que guia meu servir, é levar fatos com clareza até a visão dinâmica de um empreendedor, daí em diante o mundo se inicia através do espelho das tomadas de decisões.
                        Não só fundadas na intuição, mas com o cerne fixo no ocorrido ao longo da história.
                    </p>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técninas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu abredito ter em cada uma delas.
                    </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-6 mb-0">EXCEL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 92%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                        <p class="mt-6 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-6 mb-0">PYTHON</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-6 mb-0">POWER BI</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="mt-6 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-6 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-6 mb-0">FLASK</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-6 mb-0">GITHUB</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 83%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
                        </div>
                    </div>
                </div>
                
                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-6 mb-0">TRABALHO EM EQUIPE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 92%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                        <p class="mt-6 mb-0">PROATIVIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-6 mb-0">COMPROMETIMENTO</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 94%;" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">94%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-6 mb-0">EMPATIA</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 87%;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">87%</div>
                        </div>
                        <p class="mt-6 mb-0">CORDIALIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 97%;" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">97%</div>
                        </div>
                        <p class="mt-6 mb-0">INTEGRIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>  
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item">
                            <h4>Esp. Data Science no Agronegócio</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Agroadvance</em></p>
                            <p>Séries Temporais + Dados Geoespaciais, com modelagem e processamento de dados, gera-se informação útil para tomada de decisão do Homem do Campo</p>
                        </div>
                        
                        <div class="cv-item">
                            <h4>Bacharel em Gestão da TI</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Fatec - Assis</em></p>
                            <p>Gerir os meios e os processos de uma Equipe de Tecnologia da Informação é um baita desafio, abordado durante 3 anos nesta graduação tecnóloga.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Bacharel em Ciências Econômica</h4>
                            <h5>2011 - 2016</h5>
                            <p><em>UEL - Universidade Estadual de Londrina</em></p>
                            <p>Do Macro ao Micro, os mercados e as peculiaridades da grande finita dos recursos em contrapartida com nossos anseios infinitos.</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <h4>Analista de Marketplace</h4>
                            <h5>2015 - 2016</h5>
                            <p><em>Multi-Ar</em></p>
                            <p>Execução de Campanhas Comerciais junto aos parceiros Marketplaces; Acompanhamento e Gestão de Metas de Vendas dos Canais;</p>
                        </div>
                        
                        <div class="cv-item">
                            <h4>Analista de Resultados</h4>
                            <h5>2014 - 2015</h5>
                            <p><em>Ambev</em></p>
                            <p>Extração de Dados via SQL; Modelagem e tratamento de dados via Excel; Visibilidade através de relatórios e apresentações;</p>
                        </div>

                        <div class="cv-item">
                            <h4>Analista de Fusões & Aquisições</h4>
                            <h5>2012 - 2014</h5>
                            <p><em>JMB Advisors</em></p>
                            <p>Modelagem financeira e Valuation; Análises setoriais e mercadológicas;
                                Preparação Memorando de informações, teaser e apresentações institucionais.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                
                <h2 class="pb-4">Portfólio</h2>
                
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio-dashcovid19.png" class="card-img-top img-fluid w-100" alt="Dashboard Covid-19">
                                        <div class="card-body">
                                            <h5 class="card-title">Dashboard Covid-19</h5>
                                            <p class="card-text">Projeto feito 100% em Python mostrando de forma interativa a apuração dos dados do Covid-19 no Brasil.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio-institucional.png" class="card-img-top img-fluid w-100" alt="Site Institucional">
                                        <div class="card-body">
                                            <h5 class="card-title">Site para Portfólio</h5>
                                            <p class="card-text">É preciso demonstrar de forma acessível o seu servir, o projeto é da primeira versão do site que você está navegando.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli/portfolio" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/bot-telegram.png" class="card-img-top img-fluid w-100" alt="Bot Telegram">
                                        <div class="card-body">
                                            <h5 class="card-title">@Joakin Bot Telegram</h5>
                                            <p class="card-text">Um bot que te ajuda a rezar. Fale com o Joakin no Telegram que ele lhe envia a oração que escolher. Crie seu bot de atendimento.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli/" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/portfolio-dashcovid19.png" class="card-img-top img-fluid w-100" alt="Dashboard Covid-19">
                                        <div class="card-body">
                                            <h5 class="card-title">Dashboard Covid-19</h5>
                                            <p class="card-text">Projeto feito 100% em Python mostrando de forma interativa a apuração dos dados do Covid-19 no Brasil.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/portfolio-institucional.png" class="card-img-top img-fluid w-100" alt="Site Institucional">
                                        <div class="card-body">
                                            <h5 class="card-title">Site para Portfólio</h5>
                                            <p class="card-text">É preciso demonstrar de forma acessível o seu servir, o projeto é da primeira versão do site que você está navegando.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli/portfolio" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bot-telegram.png" class="card-img-top img-fluid w-100" alt="Bot Telegram">
                                        <div class="card-body">
                                            <h5 class="card-title">@Joakin Bot Telegram</h5>
                                            <p class="card-text">Um bot que te ajuda a rezar. Fale com o Joakin no Telegram que ele lhe envia a oração que escolher. Crie seu bot de atendimento.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/LucasZonfrilli/" target="_blank"
                                                class="btn btn-outline-primary">
                                                <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                                <p>Cândido Mota/SP</p>
                            </div>
                            
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail</h4>
                                <p>lucasdz123@outlook.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.700745022751!2d-50.42568428556653!3d-22.664943534982864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94953983b7a97425%3A0xa5b2421f3669253f!2sN37%20ECO!5e0!3m2!1spt-BR!2sbr!4v1664852866433!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100">
                            </iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">

                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Qual é o seu nome?">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">E-mail:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Como posso ajudar?"></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                              </form>

                        </div>
                    </div>

                </div>
            </div>
            
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>